Source: node-domain-browser
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends:
 debhelper-compat (= 13)
 , node-diff <!nocheck>
 , dh-sequence-nodejs
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-domain-browser
Vcs-Git: https://salsa.debian.org/js-team/node-domain-browser.git
Homepage: https://github.com/bevry/domain-browser
Rules-Requires-Root: no

Package: node-domain-browser
Architecture: all
Depends:
 ${misc:Depends}
Multi-Arch: foreign
Description: Node's domain module for the web browser
 This is merely an evented try...catch with the same API as node, nothing more.
 .
 This library is a dependency for browserify and webpack. Browserify/Webpack
 takes code targeted at node.js and makes it run in the browser. Node.js comes
 with API of its own that is not available in the browsers. Browserify/Webpack
 exposes this code to programs that are unaware they are running in a browser.
 .
 Node.js is an event-based server-side JavaScript engine.
